body,h1,h2,h3,h4,ul,li,p{
	margin:0;
	padding:0
}
a{
	text-decoration:none
}
%clearfix{
  // @if $lte7 {
  //   *zoom: 1;
  // }
  &:before,
  &:after {
    content: "";
    display: table;
    font: 0/0 a;
  }
  &:after {
    clear: both;
  }
}
@mixin box-sizing ($sizing) {
    -webkit-box-sizing:$sizing;     
       -moz-box-sizing:$sizing;
            box-sizing:$sizing;
}
.box-border{
    border:1px solid #ccc;
    @include box-sizing(border-box);
}
*{
	@include box-sizing(border-box);
}
$bg-color:#fff;
$width:1226px;
$base-color:#b0b0b0;
$fontStack:Helvetica, sans-serif;
$primaryColor: #333;

body {
  font-family: $fontStack;
  color: $primaryColor;
  background: $bg-color;
  min-width:$width;
}
.container{
	width:$width;
	margin-left:auto;
	margin-right:auto;
	@extend %clearfix
}
.hidden{
	overflow:hidden
}
.color{
	color:$base-color;
}
.site-topbar{
	position:relative;
	z-index:30;
	height:40px;
	color:$base-color;
	background:$primaryColor;
	.container{
		.topbar-nav{
			float: left;
			height: 40px;
			line-height: 40px;
			@extend .hidden;
			a{
				@extend .color;
				@extend .box-border;
				&:hover{
					color:#f0f0f0
				}
			}
		}
	}
}

 